body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    height: auto;
}

#image-list li {
    border: 2px solid black;
    width: 150px;
    text-align: center;
}

#image-list img {
    width: 100px;
    height: auto;
}